$mainColor: #6db5ed;
$secondaryColor: #6acab1;
$opaqueTextColor: #949494;

$textColor: #9ae5e6;
$borderColor: #9ae5e6;
$backgroundColor: #303030;

$player1Color: #596595;
$player2Color: #d6ff79;
$player3Color: #ef476f;
$player4Color: #ffd166;

$disabledColor: #949494;

$hoveredColor: #4e1b62;
$incorrectColor: #ce0b35;