@import '../../css/variables.scss';

.tutorial {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 2.5rem;
  }

  &__list {
    margin: 0 auto;
    max-width: 50%;

    &Item {
      margin: 1rem 0;
    }
  }
}
