@import "../../../css/variables.scss";

.game-detail {
  text-align: left;
  width: 50%;
  height: 80vh;
  border: 0.1rem solid $borderColor;
  padding: 1rem;
  display: flex;

  flex-direction: column;
  justify-content: space-between;

  &__form {
    align-self: center;
    justify-self: center;
  }

  &__input {
    background-color: $backgroundColor;
    border: 0.1rem solid $borderColor;
    font-size: 1.5rem;
    margin: 3rem 2rem;
    font-weight: bold;
    padding: 0.5rem 1.2rem;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("/icons/dropdown.svg") right / 1.5rem no-repeat
      $backgroundColor;
  }

  &__title,
  &__text {
    font-size: 1.5rem;
  }

  &__title {
    text-align: center;
  }

  &__text {
    &--color0 {
      color: $player1Color;
    }

    &--color1 {
      color: $player2Color;
    }

    &--color2 {
      color: $player3Color;
    }

    &--color3 {
      color: $player4Color;
    }

    &--colorFinal {
      color: $secondaryColor;
    }
  }

  &__button {
    background-color: transparent;
    color: $textColor;
    border-color: $borderColor;
    align-self: center;
    font-size: 2rem;
    padding: 1rem 3rem;
    cursor: pointer;

    &:hover {
      background-color: $textColor;
      color: white;
    }
  }

  &__board-list {
    display: grid;
    grid-template-columns: repeat(5, 6rem);
    grid-gap: 1rem;
  }
}
