@import "../../../css/variables.scss";

.game-list {
  &--inactive {
    width: 50vw;
  }

  &__filter {
    background-color: transparent;
  }

  &__header {
    display: flex;
  }

  &__input {
    cursor: pointer;
    background-color: $backgroundColor;
    border: 0.1rem solid $borderColor;
    font-size: 1.5rem;
    margin: 2rem 2rem 0 0;
    font-weight: bold;
    padding: 0.5rem 1.3rem 0.5rem 0.7rem;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("/icons/dropdown.svg") right / 1.5rem no-repeat $backgroundColor;
  }

  &__text {
    font-size: 1.5rem;
  }

  &__grid {
    display: flex;
    width: 50vw;
    padding: 1rem 0;
    overflow: auto;
    min-height: 9rem;
  }

  &__add {
    display: flex;
    flex-direction: column;
    justify-content: start;

    &__label {
      text-align: center;
    }

    &__button {
      border: 0.1rem solid $borderColor;
      cursor: pointer;
      justify-self: center;
      align-self: center;
      padding: 0.5rem;
      background-color: $backgroundColor;
      margin-left: 1rem;

      &:hover {
        filter: brightness(150%);
        border-width: 0.2rem;
      }

      &--selected {
        filter: brightness(150%);
        border-width: 0.2rem;
      }
    }

    &__icon {
      width: 2rem;
      height: 2rem;
    }
  }
}
