@import "../../../css/variables.scss";

.game-list {
  &__filter {
    background-color: transparent;
  }

  &__input {
    background-color: $backgroundColor;
    border: 0.1rem solid $borderColor;
    font-size: 1.5rem;
    margin: 3rem 2rem;
    font-weight: bold;
    padding: 2px 10px;
  }

  &__text {
    font-size: 1.5rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 6rem);
    grid-gap: 1rem;
  }

  &__add {
    display: flex;
    flex-direction: column;
    justify-content: start;

    &__label {
      text-align: center;
    }

    &__button {
      width: 100%;
      border: 0.1rem solid $borderColor;
      cursor: pointer;
      justify-self: center;
      align-self: center;
      padding: 1rem;
      background-color: $backgroundColor;

      &:hover {
        filter: brightness(150%);
        border-width: 0.2rem;
      }

      &--selected {
        filter: brightness(150%);
        border-width: 0.2rem;
      }
    }
  }
}
