@import "../css/variables.scss";

#login-buttons,
#login-dropdown-list {
  background-color: transparent;
  color: $textColor;
}

#login-dropdown-list {
  background-color: $backgroundColor;
  color: $textColor;

  & .login-button {
    background-color: transparent;
    color: $textColor;
    border-color: $borderColor;

    &:hover {
      background-color: $textColor;
      color: white;
    }
  }
}

.login-form.login-password-form input {
  background-color: transparent;
}

.app{
  width:100vw;
  height:100vh;
  padding:1rem;
}
