@import '../css/variables.scss';

#login-buttons {
  margin-left: 1rem;
}

#login-buttons .login-close-text {
  float: right;
}

#login-buttons,
#login-dropdown-list {
  background-color: transparent;
  color: $textColor;
}

#login-dropdown-list {
  background-color: $backgroundColor;
  color: $textColor;
  right: -1px;
  left: initial;

  & .login-button {
    background-color: transparent;
    color: $textColor;
    border-color: $borderColor;

    &:hover {
      background-color: $textColor;
      color: white;
    }
  }
}

.login-form.login-password-form input {
  background-color: transparent;
}

.app {
  width: 100%;
  height: 100vh;
}
